@import "bootstrap.less";
@import "font-awesome.less";
@FontAwesomePath: "../fonts";

@import "mysprites.less";
@import "bootswatch.less";
@import "myvariables.less";

@blood: darken(@brand-info, 10%);
@tree: lighten(@brand-success, 25%);
@dirt: lighten(@brand-warning, 20%);

/*@blood: #FF2435;
@tree: #2D4723;
@dirt: #464734;*/

@footerHeight: 15px;

.githubSprite {
  .sprite(@github-80x15);
}

.css3Sprite {
  .sprite(@css3-80x15);
}

.ipv6Sprite {
  .sprite(@ipv6-80x15);
}

.debianSprite {
  .sprite(@debian-80x15);
}

.cc-by-saSprite {
  .sprite(@cc-by-sa-80x15);
}

.opensourceSprite {
  .sprite(@opensource-80x15);
}

.html5Sprite {
  .sprite(@html5-80x15);
}

.header {
  /* format header */
  .make-xs-column(12);
  .make-sm-column(3);

  position: fixed;
  .text-center;
  left: 0;
  height: 100%;
  padding-right: 20px;
  
  @media (max-width: @screen-xs-max) {
    .col-xs-12;
    position: relative;
    h1 {
      font-size: 2.4em;
    }
    h2 {
      font-size: 1.8em;
    }
  }
  @media (min-width: @screen-xs-max) and (max-width: @screen-sm-max) {
    h1 {
      font-size: 2.4em;
    }
    h2 {
      font-size: 1.8em;
    }
  }
  @media (min-width: @screen-sm-max) and (max-width: @screen-md-max) {
    h1 {
      font-size: 2.8em;
    }
    h2 {
      font-size: 2.2em;
    }
  }
  @media (min-width: @screen-md-max) {
    h1 {
      font-size: 3.2em;
    }
    h2 {
      font-size: 2.6em;
    }
  }
  
  /* color sidebar */
  background-color: @tree;

  h2 {
    color: @blood;
    a {
      color: @blood;
    }
  }

  ul li {
    :hover {
      color: @blood;
    }
  }
}

a:hover {
  color: @blood;
}

.content {
  /* format content */
  .make-xs-column(12);
  .make-sm-column-offset(3);
  .make-sm-column(9);
  bottom: @footerHeight;
}

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: (@footerHeight + 6px);

  ul {
    float: none;
    .text-center;
  }
  ul > li {
    float: none;
    display: inline;
  }
  ul > li > a {
    display: inline-block;
    padding: 0;
  }
}

.pager .previous span {
  .glyphicon;
  .glyphicon-chevron-left;
}
.pager .next span {
  .glyphicon;
  .glyphicon-chevron-right;
}

.pager .index span {
  .glyphicon;
  .glyphicon-chevron-up;
}
.pager .archives span {
  .glyphicon;
  .glyphicon-chevron-down;
}

.profilePic {
  border-radius: 33.3%;
}

article header .date {
  line-height: 4em;
}

.handles > .nav > li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;

  span {
    font-size: 32px;
  }
}

.icon-calendar {
  color: @blood;
}