extends layout

block content
  include author
  include pager
  each article in articles
    article.article
      header.page-header
        p.date.pull-right
          = moment.utc(article.date).format('DD. MMMM YYYY ')
          span.icon-calendar
        h2
          a(href=article.url)= article.title
      section.lead
        !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more
  +pager(this);
